{% load static %}
    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website project</title>
    <link rel="stylesheet", href="{% static 'css/bootstrap.min.css' %}">
    
    <script type = "text/javascript" src = "{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <!-- load jquery -->
</head>

<body>
    
    <div class="container-fluid px-0">

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-uppercase" href="#">my website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'general:career' %}">Career</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'general:contact' %}">Contact</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'general:tandc' %}">T&amp;C</a>
            </li> 
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <br>
      {% if messages %} 
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class=" alert alert-{{ message.tags }}" {% endif %}> {{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} 
      

    </div>
    <div class="container">
    {% block content %}

    {% endblock %} 
    </div>  
    <script type = "text/javascript" src = "{% static 'js/bootstrap.min.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/popper.min.js' %}"></script>
    
<!-- bootstrapjs
popperjs -->
</div>
</body>
</html>